.menu {
    border: 2px solid;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

.item-list {
    border: 1px dotted;
    padding: 1em;
    margin: 1em;
}

.copy {
    font-size: x-small;
}

.big {
    font-size: 200%;
}

.sidebar {
    height: 30em;
}

.itembar {
    height: 40em;
}

.header {
    height: 2em;
}

.footer {
    height: 4em;
    white-space:nowrap;
    margin-top: 1em;
}

.list-header {
    width: 100%;
}

input.numberbox {
    width: 4em;
    display:inline-block;
}