.menu {
    border: 2px solid;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

.item-list {
    border: 1px dotted;
    padding: 1em;
    margin: 1em;
}

.copy {
    font-size: smaller;
}

.big {
    font-size: 200%;
}