<!DOCTYPE html>
<html lang="en-us" ng-app="grimoire" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Grimoire App</title>
<meta name="viewport" content="width=device-width, user-scalable=no">

<link href="grimoire.css" rel="stylesheet" />
<link href="bower_components/angular/angular-csp.css" rel="stylesheet" />
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body ng-controller="GrimoireController as grimoire">

<div class="col-md-12 big menu header">{{grimoire.welcome}}</div>
<div class="col-md-12">
<!--LIST OF ITEM SOURCES-->
<div class="col-md-3 sidebar">
<div class="list-title menu">Sources:</div>
<div slimscroll="{height:'auto', alwaysVisible:true, railVisible:true}" id="sourceScroll" class="menu">
    <ul>
        <li ng-repeat="source in grimoire.sources"><input type="checkbox" value={{source}} ng-model="source.selected" ng-change="grimoire.checkSource(source)">{{source.name}}
            <ul>
            <li ng-repeat="item in source.sources"><input type="radio" name="source" ng-model="grimoire.radio" value={{source.shortName+'|'+item}} ng-change="grimoire.checkRadio()">{{item}}</li>
            </ul>
        </li>
    </ul>
    </div>
    <div class="menu">
    QUICK BUTTONS
    Get Deity
    Get Energy Type
    Get Spell (level)
    Generate Spell Book (caster level)
    Generate Item Intelligence (price)
    </div>
</div>
<!--LIST OF ITEM LISTS-->
<div class="col-md-9 itembar">
    <div class="menu">History:</div>
    <div slimscroll="{height:'auto', alwaysVisible:true, railVisible:true, start:'bottom'}" id="itemScroll" class="menu">
    <div class="item-list" ng-repeat="list in grimoire.itemLists">
        <span><strong>~~{{list.timestamp|date:'medium'}}~~</strong> <button ui-zeroclip zeroclip-text="grimoire.copyToClipboard(list)" class="copy" type="button">Copy to clipboard</button></span>
        <ul>
        <li ng-repeat="item in list.items track by $index">{{item.name}}<span ng-if="item.description"> {{item.description}}</span><span ng-if="item.cost > 0"> {{item.cost|number}}gp</span><a class="super" target="_blank" ng-if="item.url" href={{item.url}}>link</a>
        <ul ng-if="item.intelligence"><li>{{item.intelligence.print()}}</li></ul></li>
        </ul>
        {{list.notes}}
    </div>
    </div>
</div>
</div>
<div class="col-md-12 big footer">
<div class="col-md-3 menu">Minor Item <input type="number" class="numberbox form-control" ng-model="grimoire.itemCount[0]"></div>
<div class="col-md-3 menu">Medium Item <input type="number" class="numberbox form-control" ng-model="grimoire.itemCount[1]"></div>
<div class="col-md-3 menu">Major Item <input type="number" class="numberbox form-control" ng-model="grimoire.itemCount[2]"></div>
<div class="col-md-3 menu"><input type="button" value="GO" ng-click="grimoire.generateItems()"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script type="application/javascript" src="../GrimoireJS/grimoire.js"></script>
<script type="application/javascript" src="../GrimoireJS/intelligence.js"></script>
<script type="application/javascript" src="../GrimoireJS/weapons.js"></script>
<script type="application/javascript" src="../GrimoireJS/wondrousItems.js"></script>
<script type="application/javascript" src="../GrimoireJS/rings.js"></script>
<script type="application/javascript" src="../GrimoireJS/rods.js"></script>
<script type="application/javascript" src="../GrimoireJS/spells.js"></script>
<script type="application/javascript" src="../GrimoireJS/scrolls.js"></script>
<script type="application/javascript" src="../GrimoireJS/deities.js"></script>
<script type="application/javascript" src="../GrimoireJS/potions.js"></script>
<script type="application/javascript" src="../GrimoireJS/wands.js"></script>
<script type="application/javascript" src="../GrimoireJS/staves.js"></script>
<script type="application/javascript" src="../GrimoireJS/energy.js"></script>
<script type="application/javascript" src="../GrimoireJS/armors.js"></script>
<script type="application/javascript" src="../GrimoireJS/shields.js"></script>
<script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="application/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="bower_components/slimscroll/jquery.slimscroll.js"></script>
<script type="application/javascript" src="bower_components/angular-slimscroll/angular-slimscroll.js"></script>
<script type="application/javascript" src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script type="application/javascript" src="bower_components/angular-zeroclipboard/src/angular-zeroclipboard.js"></script>

<script type="application/javascript" src="app.js"></script>
<script type="application/javascript" src="grimoire-controller.js"></script>
</body>
</html>