<!DOCTYPE html>
<html lang="en-us" ng-app="grimoire" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Grimoire App</title>
<meta name="viewport" content="width=device-width, user-scalable=no">

<link href="grimoire.css" rel="stylesheet" />
<link href="bower_components/angular/angular-csp.css" rel="stylesheet" />
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body ng-controller="GrimoireController as grimoire">

<div class="col-md-12 menu">{{grimoire.welcome}}</div>
<div class="col-md-12">
<div class="col-md-3 menu">
<div slimscroll="{height: '200px', alwaysVisible:true, railVisible:true}">
    <ul>
        <li ng-repeat="source in grimoire.sources"><input type="checkbox" value={{source}}>{{source.name}}
            <ul>
            <li ng-repeat="item in source.sources"><input type="radio" name="source" value={{item}}>{{item}}</li>
            </ul>
        </li>
    </ul>
    </div>
</div>
<div class="col-md-9 menu">
    <div slimscroll="{height: '500px', alwaysVisible:true, railVisible:true}">
    <div class="item-list" ng-repeat="list in grimoire.itemLists">
        <span><strong>~~{{list.timestamp|date:'medium'}}~~</strong> <input class="copy" type="button" ng-click="grimoire.copyToClipboard(list)" value="Copy to clipboard"></span>
        <ul>
        <li ng-repeat="item in list.items">{{item.name}} {{item.worth}}gp <a class="super" ng-if="item.url && item.url != ''" href={{item.url}}>link</a></li>
        </ul>
    </div>
    </div>
</div>
</div>
<div class="col-md-12 big">
<div class="col-md-3 menu">Minor Item <input type="number" class="form-control"></div>
<div class="col-md-3 menu">Medium Item <input type="number" class="form-control"></div>
<div class="col-md-3 menu">Major Item <input type="number" class="form-control"></div>
<div class="col-md-3 menu"><input type="button" value="GO"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script type="application/javascript" src="../GrimoireJS/grimoire.js"></script>
<script type="application/javascript" src="../GrimoireJS/intelligence.js"></script>
<script type="application/javascript" src="../GrimoireJS/weapons.js"></script>
<script type="application/javascript" src="../GrimoireJS/wondrousItems.js"></script>
<script type="application/javascript" src="../GrimoireJS/rings.js"></script>
<script type="application/javascript" src="../GrimoireJS/rods.js"></script>
<script type="application/javascript" src="../GrimoireJS/spells.js"></script>
<script type="application/javascript" src="../GrimoireJS/scrolls.js"></script>
<script type="application/javascript" src="../GrimoireJS/deities.js"></script>
<script type="application/javascript" src="../GrimoireJS/potions.js"></script>
<script type="application/javascript" src="../GrimoireJS/wands.js"></script>
<script type="application/javascript" src="../GrimoireJS/staves.js"></script>
<script type="application/javascript" src="../GrimoireJS/energy.js"></script>
<script type="application/javascript" src="../GrimoireJS/armors.js"></script>
<script type="application/javascript" src="../GrimoireJS/shields.js"></script>
<script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="application/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="bower_components/slimscroll/jquery.slimscroll.js"></script>
<script type="application/javascript" src="bower_components/angular-slimscroll/angular-slimscroll.js"></script>

<script type="application/javascript" src="app.js"></script>
<script type="application/javascript" src="grimoire-controller.js"></script>
</body>
</html>